@use 'variables' as *;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  background-color: var(--BG);
  transition: background 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 16rem 8rem;
}

.bg-top{
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 24.5rem;
  background-color: var(--top-BG-pattern);
  transition: background 0.2s;
}