:root {
  --BG: hsl(0, 0%, 100%);
  --top-BG-pattern: hsl(225, 100%, 98%);
  --card-BG: hsl(227, 47%, 96%);
  --text2: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);
  --toggle: hsl(230, 22%, 74%);
  --LimeGreen: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(90deg, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);
  --hover-card: brightness(0.9);
}

.dark {
  --BG: hsl(230, 17%, 14%);
  --top-BG-pattern: hsl(232, 19%, 15%);
  --card-BG: hsl(228, 28%, 20%);
  --text2: hsl(228, 34%, 66%);
  --text: hsl(0, 0%, 100%);
  --toggle: linear-gradient(90deg,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
  --hover-card: brightness(1.4);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 111rem;
  width: 111rem;
  height: 5rem;
  margin: 0 0 5rem;
}
.header-title {
  color: var(--text);
}
.header-title__resume {
  color: var(--text2);
  font-weight: 700;
  font-size: 1.8rem;
}
.header-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.header-toggle .header-toggle_text {
  color: var(--text2);
  font-weight: 700;
  font-size: 1.8rem;
}
.header-toggle .darkmode-toggle {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
}
.header-toggle .darkmode-toggle input {
  opacity: 0;
}
.header-toggle .slider {
  cursor: pointer;
  position: absolute;
  background: var(--toggle);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5rem;
}
.header-toggle .slider::before {
  position: absolute;
  content: "";
  height: 1.9rem;
  width: 1.9rem;
  top: 0.3rem;
  right: 0.4rem;
  border-radius: 50%;
  background-color: var(--top-BG-pattern);
  transition: 0.4s ease all;
}
.header-toggle .slider:hover {
  filter: var(--hover-card);
  transition: filter 1s ease;
}
.header-toggle input:checked + .slider::before {
  right: 2.7rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  background-color: var(--BG);
  transition: background 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 16rem 8rem;
  width: 100vw;
}

.bg-top {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 24.5rem;
  background-color: var(--top-BG-pattern);
  transition: background 0.2s;
}

.dashboard {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 5rem;
}

.card {
  position: relative;
  min-width: 25.5rem;
  height: 22rem;
  background-color: var(--card-BG);
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}
.card-person {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 1.5rem;
  gap: 0.8rem;
}
.card-person span {
  color: var(--text2);
  font-weight: 700;
}
.card-total {
  font-size: 6rem;
  font-weight: 700;
  color: var(--text);
}
.card-followers {
  letter-spacing: 0.6rem;
  text-indent: 0.6rem;
  color: var(--text2);
  text-transform: uppercase;
}
.card-balance {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--LimeGreen);
  font-weight: 700;
  padding: 2rem 0 0;
  gap: 0.5rem;
}

.card:hover {
  filter: var(--hover-card);
  transition: filter 0.1s ease-in;
}

.card::before {
  width: 0%;
}

.facebook::before {
  content: "";
  position: absolute;
  left: 0;
  height: 0.4rem;
  width: 0%;
  background-color: var(--Facebook);
  animation: width 1s forwards ease;
}

.twitter::before {
  content: "";
  position: absolute;
  left: 0;
  height: 0.4rem;
  width: 0%;
  background-color: var(--Twitter);
  animation: width 1s forwards ease;
}

.instagram::before {
  content: "";
  position: absolute;
  left: 0;
  height: 0.4rem;
  width: 0%;
  background: var(--Instagram);
  animation: width 1s forwards ease;
}

.youtube::before {
  content: "";
  position: absolute;
  left: 0;
  height: 0.4rem;
  width: 0%;
  background: var(--YouTube);
  animation: width 1s forwards ease;
}

@keyframes width {
  100% {
    width: 100%;
  }
}
.red {
  color: var(--Bright-Red);
}

.overview-title {
  color: var(--text2);
  margin-bottom: 3rem;
}

.mini-card-grid {
  display: grid;
  justify-content: space-between;
  grid: repeat(2, auto)/repeat(4, auto);
  gap: 2.5rem;
}

.mini-card {
  height: 12.5rem;
  width: 25.5rem;
  background-color: var(--card-BG);
  border-radius: 0.5rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  animation: opacity 2s ease-out;
}
.mini-card .mini-card-top {
  display: flex;
  justify-content: space-between;
}
.mini-card .mini-card-top .mini-card-top-title {
  color: var(--text2);
  font-size: 1.5rem;
}
.mini-card .mini-card-top img {
  display: block;
  width: 2rem;
  height: auto;
}
.mini-card .mini-card-bottom {
  display: flex;
  justify-content: space-between;
}
.mini-card .mini-card-bottom .number {
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--text);
}
.mini-card .mini-card-bottom .porcentaje {
  display: flex;
  align-items: center;
  margin-top: auto;
  color: var(--LimeGreen);
  font-weight: 700;
}

.mini-card:hover {
  filter: var(--hover-card);
  transition: filter 0.1s ease-in;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 46.875em) {
  .bg-top {
    width: 100vw;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

  html {
    font-size: 2.3vw;
  }

  body {
    padding: 4.6rem 2.9rem 5.2rem;
  }

  main {
    width: 100%;
  }

  .header {
    flex-direction: column;
    width: 100%;
    height: 29.4vw;
    align-items: flex-start;
  }
  .header-toggle {
    padding-top: 2.3rem;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid var(--text2);
  }

  .dashboard {
    flex-direction: column;
    width: 100%;
  }

  .mini-card-grid {
    grid: repeat(8, auto)/100%;
  }

  .mini-card {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
